@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(transparent)), -webkit-gradient(linear, right bottom, left top, from(#00ff00), to(transparent)), -webkit-gradient(linear, left bottom, right top, from(blue), to(transparent));
  background: linear-gradient(red, transparent), linear-gradient(to top left, #00ff00, transparent), linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.calc {
  font-family: 'Quicksand', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

@media (max-width: 550px) {
  .calc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.calc .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.calc .button .btn {
  padding: 20px;
}

.calc .button .btn button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.calc .button .btn-color {
  padding: 20px;
}

.calc .button .btn-color .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-self: flex-end;
  text-align: right;
}

.calc .button .btn-color .drop p {
  position: relative;
  background: white;
  padding: 5px 20px;
  border-radius: 50px;
  width: 100px;
}

.calc .button .btn-color .drop i {
  position: absolute;
  padding-left: 14px;
}

.calc .button .btn-color .themes {
  display: none;
  padding: 20px;
}

.calc .button .btn-color .themes .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc .button .btn-color .themes #flexRed h2:hover {
  color: red;
}

.calc .button .btn-color .themes #flexYellow h2:hover {
  color: yellow;
}

.calc .button .btn-color .themes #flexBlue h2:hover {
  color: blue;
}

.calc .button .btn-color .themes h2 {
  font-size: 20px;
}

.calc .button .btn-color .themes button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  margin: 5px;
  border: none;
}

.calc .button .btn-color .themes #btnRed {
  background-color: red;
}

.calc .button .btn-color .themes #btnGreen {
  background-color: yellow;
}

.calc .button .btn-color .themes #btnYellow {
  background-color: #000066;
}

.calc .calculator {
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: white;
  border-radius: 20px;
  width: 350px;
  height: 450px;
  position: absolute;
  top: 80px;
  left: 35%;
}

@media (max-width: 950px) {
  .calc .calculator {
    top: 100px;
    left: 30%;
  }
}

@media (max-width: 895px) {
  .calc .calculator {
    top: 100px;
    left: 30%;
  }
}

@media (max-width: 750px) {
  .calc .calculator {
    top: 100px;
    left: 20%;
  }
}

@media (max-width: 650px) {
  .calc .calculator {
    top: 100px;
    left: 10%;
  }
}

@media (max-width: 550px) {
  .calc .calculator {
    top: 130px;
    left: 20%;
  }
}

@media (max-width: 500px) {
  .calc .calculator {
    top: 130px;
    left: 10%;
  }
}

@media (max-width: 410px) {
  .calc .calculator {
    top: 130px;
    left: 1%;
  }
}

.calc .calculator .input input {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
  width: 250px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.calc .calculator .rows {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.calc .calculator .rows input {
  font-family: 'Quicksand', sans-serif;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.calc .calculator .rows input:hover {
  color: black;
  background-color: white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0px 0.5px 10px 2px white;
          box-shadow: 0px 0.5px 10px 2px white;
}
/*# sourceMappingURL=subaa.css.map */