*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.4s ease;
   
}

body.dark{
    --white: #fff;
    --black:black;
     --backgroung-color: black;
    --button-colour:grey;
     --color-button:black;
}

body.orange{
    --white: #fff;
    --black:black;
     --backgroung-color: #ba5536;
    --button-colour:#a43820;
     --color-button:#46211a;

}

body.sandal{
    --white: #fff;
    --black:black;
     --backgroung-color: #f4cc70;
    --button-colour:#de7a22;
     --color-button:#20948b;
}

body.green{
    --white: #fff;
    --black:black;
     --backgroung-color: #66a5ad ;
    --button-colour:#07575b;
     --color-button:#003b46;

}

body{
     --white: #fff;
    --black:black;
     --backgroung-color: #79a7d3;
    --button-colour:#6883bc;
     --color-button:#8a307f;
     

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--backgroung-color);


    .switching-menus{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        .toggle{
            width: 50px;
            height: 50px;
            background-color: var(--button-colour);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            color: var(--color-button);
            cursor: pointer;
            box-shadow: 0 5px 10px  rgba(0,0,0,0.2);
           

        }

      

        .color-theme{
            width: 50px;
            height: 50px;
            background-color: var(--button-colour);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            border-radius: 12px;
            color: var(--color-button);
            cursor: pointer;
            position: relative;
            box-shadow: 0 7px 10px  rgba(0,0,0,0.2);


            .theme-list{
                width: 160px;
                position: absolute;
                bottom: -80px;
                left: -100px;
                background-color: rgb(194, 187, 187);
                padding: 5px;
                box-shadow: 0 5px 10px  rgba(0,0,0,0.2);
                border-radius: 10px;
                opacity: none;
                opacity: 0;
                pointer-events: none;
                z-index: 1000;
                

                h4{
                   color: rgb(52, 49, 49);

                }


                .theme-changer{
                        

                    button{
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: none;
                        outline: none;
                        margin-top: 10px;
                        margin-right: 5px;
                        cursor: pointer;
                    }

                    .btn.active{
                        box-shadow: 0 0 0 2px white,
                                    0 0 0 4px var(--button-colour);
                    }

                    .btn.blue{
                        background-color:var(--button-colour);
                    }
                   
                    .btn.sandal{
                        background-color:#f4cc70;
                    }
                    .btn.sandal.active{
                        box-shadow: 0 0 0 2px white,
                                    0 0 0 4px #f4cc70;
                    }
                    .btn.orange{
                        background-color:#ba5536;
                    }
                    .btn.orange.active{
                        box-shadow: 0 0 0 2px white,
                                    0 0 0 4px #ba5536;
                    }
                    .btn.green{
                        background-color:#07575b;
                    }
                    .btn.green.active{
                        box-shadow: 0 0 0 2px white,
                                    0 0 0 4px #07575b;
                    }



                }
            }

        }

        .color-theme:hover{
          opacity: 1;
        }

        .color-theme.open .theme-list{
            opacity: 1;
            pointer-events: auto;
        }
        .color-theme.open .arrow{
            transform: rotate(-180deg);
        }
    }
}

.sun-moon-container{
    color: black;
    opacity: 1;
    
    cursor: pointer;
}

h1{
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: var(--white);
    
   
}
.cals-container{
   
  
    width: 100%;
    background-color: var(--backgroung-color);
    box-shadow: 0 5px 10px  var(--black);
    
    

    input{
        width: 100%;
        height: 50px;
        font-size: 30px;
        outline: none;
        border: none;
        padding-left:10px ;
        background-color: var(--backgroung-color);
        
        
        
    }
}
.background{
    


   img{
       width: 100%;
       position: relative;
       max-height: 320px;
       
   }
   .sec-img{
    display: none;

       img{
           width: 100%;
           position: relative;
           max-height: 320px;
          
       }
   }

   .qouts{
       position: absolute;
       top: 10%;
       left: 40%;

       .text{
           display: flex;
           justify-content: center;
           align-items: center;
           gap: 2px;

           .a{
               color: red;
           }

           .b{
            color: blue;
        }

        .c{
            color: green;
        }

        .d{
            color: purple;
        }

        .e{
            color:pink;
        }

        .f{
            color: yellowgreen;
        }

        .g{
            color: red;
        }

        .h{
            color: orange;
        }

       
       }
   }


   
 
}
h2{
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
}


.search-bar {
    
    
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 13px;
    

    input {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        background: none;
        padding-left: 10px;
        font-size: 20px;
        font-weight: 200;
    font-family: 'Kdam Thmor Pro', sans-serif;
        
        
    }



}

.cals{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--backgroung-color);
    
   

    button{
        border-radius: 15px;
        padding: 8px;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: var(--button-colour);
        color: var(--white);
        box-shadow: 0 0 5px  0 black;
        font-size: 18px;
    }

    button:hover{
        background-color: rgb(206, 206, 206);
    }


    .color{
        background-color: var(--color-button);
        color:var(--white);
        
    }
    
    
   




    .cals-left-menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
        padding: 40px;
    }

    .cals-right-menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        padding: 40px;

    }
}


@media (max-width:880px){

    .cals {

        .cals-left-menu{
         gap: 15px;
         padding: 20px;
        }
        .cals-right-menu{
            
            gap: 15px;
            padding: 20px;
        }
    }
    
    }

    @media (max-width:630px){

        .cals {
    
            .cals-left-menu{
             gap: 10px;
             padding: 15px;
            }
            .cals-right-menu{
                
                gap: 10px;
                padding: 15px;
                
            }
        }
        
        }
    

@media (max-width:580px){

.cals {

grid-template-columns: 1fr;

    .cals-left-menu{
        display: none;
    }
    .cals-right-menu{
        padding: 10px;
    
    }
}

.background .qouts{
    display: none;
}

header .switching-menus{
    gap: 10px;
}



}

